@page "/hide"

<h3>Drag and drop, paste but hiden object</h3>

<div class="field">
    <label class="label">WHen type i can upload files</label>
    <div class="control">
        <input class="input" @onkeyup=KeyUp />
    </div>
</div> 
<div class="field">
    <label class="checkbox">
        <input type="checkbox" @bind=CancelClick />
        Cancel Click
    </label>
</div>


<div class="drop-wrapper" >
    <InputFileComponent @ref=InputFileComponentReference OnChange="AddFile" Parameters="Parameters">
        <InputContent>
            <p>Drag files here or click to choose</p>
        </InputContent>
    </InputFileComponent>
</div>

<p>Can hide the text with 2 options. Or not add nothing inside of the ChildContent <strong>InputContent</strong> or in the CSS .drop-wrapper ::deep .input-file.drop-zone add color: transparent</p>

@if (!String.IsNullOrEmpty(Messages))
{
    <article class="message">
        <div class="message-body">
            @Messages
        </div>
    </article>
}
